$lightgray: #f0f0f0;
$avatar: #979797;
$footer: #393c40;
$footer-gray-content: #c6c9cf;
$pink: #ec407a;

body {
  &html {
    padding: 0;
    margin: 0;
  }
}

.main {
  background-color: #fff;
}

// HEADER
.header {
  box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.05);
  .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #ededed;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .menu-wrapper {
      display: flex;
      align-items: center;

      .logo {
        img {
          width: 80px;
          margin-top: 5px;
        }
      }
      ul.menu-item {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          padding: 0 15px;
          a {
            color: #333;
            text-decoration: none;
            display: inline;
          }
        }
      }
    }

    .user-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 220px;
      .user_avatar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .around_avatar {
          border: solid 4px rgba(224, 224, 224, 0.8);
          border-radius: 50%;
        }
        img {
          width: 50px;
          border-radius: 50%;
          border: solid 5px $avatar;
        }
        .fa-angle-down {
          margin-right: 15px;
          font-size: 22px;
        }
      }
    }
  }

  .menu-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 15px;
    .menu-product {
      .menu_mobile {
        display: none;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline;
          padding: 0 15px;
          a {
            color: #333;
            text-decoration: none;
            line-height: normal;
            border-bottom: none;
            padding-bottom: 5px;
            position: relative;
            display: inline;
            &::before {
              content: "";
              width: 0;
              border-bottom: solid 3px #ea417c;
              position: absolute;
              bottom: -3px;
              right: 0;
              transition: ease-in-out 0.2s;
              -webkit-transition: ease-in-out 0.2s;
              -moz-transition: ease-in-out 0.2s;
              -ms-transition: ease-in-out 0.2s;
              -o-transition: ease-in-out 0.2s;
            }
            &:hover {
              &::before {
                content: "";
                width: 100%;
                border-bottom: solid 3px #ea417c;
                position: absolute;
                bottom: -3px;
                transition: ease-in-out 0.2s;
                -webkit-transition: ease-in-out 0.2s;
                -moz-transition: ease-in-out 0.2s;
                -ms-transition: ease-in-out 0.2s;
                -o-transition: ease-in-out 0.2s;
              }
            }
          }
        }
      }
    }
    .cart {
      font-size: 24px;
      padding: 0 15px;
      position: relative;
      color: #333;
      cursor: pointer;
      .cartNumber {
        background: $pink;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        width: 18px;
        display: inline-block;
        text-align: center;
        height: 18px;
        left: 35px;
        top: -5px;
        position: absolute;
        line-height: 20px;
      }
      .cart_dropdown {
        position: absolute;
        background: #333;
        color: #fff;
        width: 280px;
        right: auto;
        left: 0;
        top: 50px;
        z-index: 9999;
        padding: 0;
        // display: none;
        // max-height: 330px;
        // overflow-y: scroll;

        &::before {
          content: "";
          margin: 0 auto;
          display: block;
          top: -15px;
          position: absolute;
          border-color: #333 transparent;
          border-style: solid;
          border-width: 0 15px 15px;
          width: 0;
          background-color: transparent;
          left: 15px;
        }
        ul {
          padding: 0;
          margin: 0;
          .cart_empty {
            text-align: center;
            font-size: 17px;
            margin: 15px 0;
          }
          .cart_item {
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px !important;
            border-bottom: solid 1px #555;
            &:nth-child(2n) {
              background: #444;
            }

            .cart_item_image {
              img {
                width: 70px !important;
              }
            }
            .cart_item_name {
              padding: 0 15px;
              p {
                font-size: 12px;
                text-align: right;
                margin-bottom: 7px;
              }
            }
            .cart_item_remove {
              .fa-times {
                color: #d4d3d3;
                font-size: 1.3rem !important;
              }
            }
          }
        }
        .cart_reduce {
          width: 100%;
          padding: 20px 40px;
          border-top: 1px solid #555;
          border-bottom: 1px solid #555;
          background-color: rgba(61, 61, 63, 0.51);
          p {
            margin: 0;
            font-size: 14px;
            span {
              margin: 0 10px 0 0;
            }
          }
        }
        .gotocheckout {
          padding: 15px;
          p {
            border: none;
            border-radius: 8px;
            font-size: 18px;
            width: 100%;
            padding: 13px;
            background-color: $pink;
            text-align: center;
            margin-bottom: 0;
            color: #fff;
            font-weight: 400;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
          }
        }
      }
    }
  }
}

// Main
.main {
  margin: 30px 0;
  h1 {
    margin-bottom: 20px;
  }
}

// product
.product {
  text-align: center;
  margin-left: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  direction: ltr;
  margin-bottom: 15px;
  &:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.61);
    .price {
      background: linear-gradient(180deg, #ff0056, #c50042);
      padding: 2px 0;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      direction: rtl;
      margin-right: auto;
      color: #fff !important;
    }
  }

  .image_box {
    position: relative;
    img {
      width: 80%;
      margin: 0 auto;
    }
    span {
      position: absolute;
      bottom: 5px;
      right: 10px;
      color: $pink;
      font-size: 12px;
      margin-bottom: 0;
      line-height: 24px;
      font-weight: 700;
      padding: 0 27px;
      border: 1px solid #ec407a;
      background-color: #fff;
      border-radius: 11px;
    }
  }
  .name_box {
    h5 {
      margin-top: 15px;
    }
    p {
      direction: rtl;
      font-size: 13px;
      color: #ec407a;
      text-align: center;
      font-weight: 700;
      height: 20px;
    }
  }
  .cart_box {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 0;
    align-items: center;
    .addtocart {
      .fa-cart-plus {
        font-size: 2rem;
        margin-right: 12px;
        color: #0090ff;
        cursor: pointer;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
      }
    }
    .price {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 24px;
      color: #202124;
      direction: rtl;
      display: flex;
      align-items: center;
      padding: 2px 20px;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      direction: rtl;
      margin-right: auto;
      span {
        margin-right: 5px;
        font-weight: 400;
        color: #d8d8d8;
        font-size: 15px;
      }
    }
  }
}

// Footer
.footer {
  background-color: $footer;
  color: $footer-gray-content;

  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $footer-gray-content;
    padding: 20px 0;

    .footer-logo {
      direction: ltr;
      display: flex;
      align-items: center;
      p {
        margin: 5px 0 0 10px;
        padding: 0;
      }
      img {
        width: 220px;
      }
    }

    .info {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline;
          direction: ltr;
          padding: 0 20px;
          border-left: solid 1px $footer-gray-content;
          &:first-child {
            padding-right: 0;
          }
          &:last-child {
            border-left: none;
          }
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    padding: 20px 0 10px;
    flex-flow: row;
    justify-content: space-between;
    .social {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline;
          padding: 0 15px;
          i {
            font-size: 21px;
          }
        }
      }
    }
    .footer-text {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    .menu-wrapper {
      .menu-item {
        display: none;
      }
    }
  }
  .menu-bottom {
    .menu-product {
      ul {
        display: none;
      }

      .menu_mobile {
        display: flex !important;
        flex-flow: row;
        text-align: center;
      }
    }
  }
  .footer {
    .footer-top {
      flex-flow: column;
      .footer-logo {
        justify-content: center;
      }
      .info {
        ul {
          display: flex;
          flex-flow: column;
          text-align: center;
          li {
            border-left: none;
            margin-bottom: 15px;
          }
        }
      }
    }
    .footer-bottom {
      flex-flow: column;
      text-align: center;
      .social {
        margin-bottom: 15px;
      }
    }
  }
}
